body {
    background-color: #f8f9fa;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    color:#383a68;
}

.brand-name {
    font-family: 'Cursive', sans-serif;
    color: #5a5dc9;
}

h2 {
    font-size: 1.75rem;
}

p {
    color: #6c757d;
}

.progress-container {

    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 20px auto;
}

.step {
    width: 40px;
    height: 4px;
    background-color: #ccc; /* Inactive steps */
    border-radius: 10px;
}

.step.active {
    background-color: #383a68; /* Active step color */
}


button {
    width: 100%;
    font-size: 1rem;
}

/* input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
} */

.question-div {
    font-weight: bolder;
    font-size: 2rem;
}

.custom-input {
      border: none;
      border-bottom: 2px solid black;
      border-radius: 0;
      outline: none;
      box-shadow: none;
      background-color:  #f8f9fa;
    }
    .custom-input:focus {
      box-shadow: none;
      border-color: black;
      background-color:  #f8f9fa;
    }
    .custom-btn {
      border-radius: 70px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 25px;
      background-color: #5a5dc9;

    }