body {
    background-color: #383a68;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 450px;
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 200px;
}


.form-group {
    margin-bottom: 20px;
}

.create-account {
    margin-top: 10px;
    color: #383a68;
    font-size: 14px;
    text-align: center;
}

.social-signup {
    margin: 20px 0;
}

.social-signup p {
    margin: 0;
}

#message {
    display: none;
    background: #f1f1f1;
    color: #555;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    font-size: 14px; /* Smaller font size */
}

.error-message {
    display: none;
    background: #f1f1f1;
    color: #555;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.login-instead:hover {
    color: #333;
    text-decoration: underline;
}

.create-account {
    margin-top: 10px;
    color: #383a68;
    font-size: 14px;
    text-align: center;
}

.valid {
    color:#383a68;
}

.invalid {
    color: red;
}

.criteria {
    margin: 5px 0; /* Space between criteria items */
}